* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1c1e;
    color: #fdf0d5;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.mainHead {
    height: max-content;
    width: 100%;
}

.navbar {
    display:flex;
    position: -webkit-sticky;
    position: sticky;
    align-items: center;
    justify-content:space-between;
    padding: 5vh 10% 0 10%;
}

.nameLogo {
    font-size: 30px;
}

span {
    color: #2a9d8f;
    font-weight: bold;
}

.navbar-container {
    display: flex;
    justify-content:space-around;
}

.navbar-item {
    padding: 10px 20px;
    
}

.navbar-item a {
    font-weight: bold;
}

.navbar-item a:hover {
    color: #2a9d8f;
    transition: .3s;
}

.contactMeButton {
    color: #c1121f;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.contactMe {
    position: relative;
    display: inline-block;
    background:fixed;
}

.contactMeContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .contactMeButton:hover {
    color: #2a9d8f;
  }

  .contactMeContent a {
    display: block;
    padding: 2px 5% 2px 5%;
    
  }

  .contactMeContent a:hover {
    background-color: #2a9d8f;
    color: #fdf0d5;
    font-weight: bold;
    transition: .3s;
  }

  .contactMe:hover .contactMeContent {
    display: block;
    
}

.contactMe:hover .contactMeButton {
    transform: scale(1.1);
    transition: .3s;
}

h2 {
    text-align: center;
    padding: 5vh 10% 0 10%;
    color: #c1121f;
    font-weight: bold;
    font-size: 25px;
}

.photoDescription { 
    height: max-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 5vh 10% 0 10%;
    align-items: center;
    justify-content:space-around;
    
}

.description {
    padding-left: 1rem;
}

.jobs {
    height: 900px;
    display: flex;
    flex-direction: column;
    padding: 5vh 10% 0 10%;
    justify-content:space-around;
    width: fit-content;
}

.date {
    background-color: #c1121f;
    width: fit-content;
    border-radius: 8px;
    padding: .2rem;
    font-weight: bold;
}

.job {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    border: none;
}

.position {
    padding-left: 1em;
}

.resps {
    padding-left: 2em;
}

.skillsAndLangs {
    display: flex;
    height: 500px;
    padding: 5vh 10% 0 10%;
    justify-content:space-around;
}

.skillsAndLangs p {
    padding: .2rem 1rem;
}

.skillsAndLangs h3 {
    color: #2a9d8f;
}

#joke {
    color: #c1121f;
    font-weight: bold;
}